<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Employee list</title>

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <![endif]-->

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"
          rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body ng-app="myApp">

<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="manager_home.html">NEXTSENSE</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="manager_home.html">
                    Pending requests
                </a>
            </li>
            <li>
                <a href="assign_leave.html">
                    Assign Leave
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle"  data-toggle="dropdown" href="#">
                    Employees <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="employee_list.html">
                            Employee list
                        </a>
                    </li>
                    <li>
                        <a href="edit_database.html">
                            Edit Database
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="request_history.html"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
    </nav>

    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Employee list</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Employee list
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table width="100%" class="table table-striped table-bordered table-hover"
                                   id="dataTables-example1">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Job Title</th>
                                    <th>Department</th>
                                    <th>EMBG</th>
                                    <th>Phone Number</th>
                                    <th>Address</th>
                                    <th>Number of vacation days</th>
                                    <th>Education</th>
                                    <th>Skills</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="employee in employees">
                                    <td>{{employee.FirstName}}</td>
                                    <td>{{employee.LastName}}</td>
                                    <td>{{employee.JobTitle}}</td>
                                    <td>{{employee.Department}}</td>
                                    <td>{{employee.EMBG}}</td>
                                    <td>{{employee.Phone}}</td>
                                    <td>{{employee.Address}}</td>
                                    <td>{{employee.Vacation_days}}</td>
                                    <td>{{employee.Education}}</td>
                                    <td><span ng-repeat="skill in employee.Skills">{{employee.skill}} ,</span></td>
                                    <td class="center">
                                        <button class="btn btn-default" data-toggle="modal" data-target="#myModal"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                        <!-- Trigger the modal with a button -->
                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal" role="dialog">
                                            <div class="modal-dialog" ng-controller="formCtrl">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Edit Employee - {{employee.FirstName}} {{employee.LastName}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form role="form">
                                                            <div class="form-group">
                                                                <label>First Name</label>
                                                                <input class="form-control" type="text" title="" required ng-model="{{employee.FirstName}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Last Name</label>
                                                                <input class="form-control" type="text" title="" required ng-model="{{employee.LastName}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Username</label>
                                                                <input class="form-control" type="text" title="" required ng-model="{{employee.Username}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Password</label>
                                                                <input class="form-control" type="text" title="" required ng-model="{{employee.Password}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Job Title</label>
                                                                <div class="radio">
                                                                    <label>
                                                                        <input type="radio" name="optionsRadios" id="optionsRadios1"
                                                                               value="option1" checked="">Employee
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        <input type="radio" name="optionsRadios" id="optionsRadios2"
                                                                               value="option2">Manager
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Job Title</label>
                                                                <select class="form-control" title="">
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Department</label>
                                                                <select class="form-control" title="" ng-model="{{employee.Department}}">
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>EMBG</label>
                                                                <input class="form-control" type="text" title=""  required ng-model="{{employee.EMBG}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Phone Number</label>
                                                                <input class="form-control" type="text" title="" ng-model="{{employee.Phone}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Address</label>
                                                                <input class="form-control" type="text" title="" ng-model="{{employee.Address}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Number of vacation days</label>
                                                                <input class="form-control" type="number" title="" required ng-model="{{employee.Vacation_days}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Education</label>
                                                                <textarea class="form-control" rows="3" title="edu" ng-model="{{employee.Education}}"></textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Skills</label>
                                                                <select multiple class="form-control" title="">
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                </select>
                                                            </div>
                                                            <button type="submit" class="btn btn-success">Submit</button>
                                                            <button type="reset" class="btn btn-default">Reset</button>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
<!--
                                <tbody>
                                <tr class="odd gradeX">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="even gradeC">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="odd gradeA">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="even gradeA">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="odd gradeA">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="even gradeC">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="odd gradeA">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="even gradeA">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="odd gradeA">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="even gradeC">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="odd gradeA">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="even gradeA">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="odd gradeA">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="even gradeC">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="odd gradeA">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="even gradeA">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                <tr class="odd gradeA">
                                    <td>Trident</td>
                                    <td>Smith</td>
                                    <td>Network Techician</td>
                                    <td>IT</td>
                                    <td>1234567455007</td>
                                    <td>072/722-022</td>
                                    <td>ul. Ruzveltova br.3, 1000 Skopje</td>
                                    <td class="center">22</td>
                                    <th>Orce Nikolov, FINKI</th>
                                    <th>CISCO, routing ... </th>
                                    <td class="center">
                                        <button class="btn btn-default"><i class="fa fa-2x fa-pencil-square-o"></i></button>
                                    </td>
                                </tr>
                                </tbody>
-->
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script src="../bower_components/datatables-responsive/js/dataTables.responsive.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="../bower_components/raphael/raphael-min.js"></script>
<script src="../bower_components/morrisjs/morris.min.js"></script>
<script src="../js/morris-data.js"></script>

<!-- jQuery -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>


<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function () {
        $('#dataTables-example1').DataTable({
            responsive: true
        });
    });

    var app = angular.module('myApp', []);
    var Employees = {firstName:"John", lastName:"Doe", };
    app.controller('formCtrl', function($scope) {
        $scope.master = {firstName:"John", lastName:"Doe"};
        $scope.reset = function() {
            $scope.user = angular.copy($scope.master);
        };
        $scope.reset();
    });
    app.controller('tableCtrl', function($scope) {
        $scope.master = {firstName:"John", lastName:"Doe"};
    });
</script>

</body>

</html>